@charset "UTF-8";

/* TYPICAL DEVICES BREAKPOINTS
------------------------------
telas pequenas = até 600px
Celular = 600px até 768px
tablet = 768px até 992px
desktops = 992 até 1200px
Telas grandes = acima de 1200px
*/

@media screen and (max-width: 992px) {

    body {
        background: url(../img/fundo.jpeg) no-repeat center;
        background-size: cover;
    }

    #birds {
        width: 200px;
    }

    div {
        width: 350px;
        background-color: rgba(255, 255, 255, 0.326);
        border: 5px solid #36A6D4;
        box-shadow: 2px 2px 15px black;
    }

    h1 {
       color: #2F84EB;
       text-shadow: 1px 1px black;
    }

    form input[type='submit'] {
        background-color: #36A6D4;
    }

    form input[type='submit']:hover {
        background-color: #2d8db2;
    }

    div p.links {
        width: 50%;
        font-size: .9em;
    }

    div p.links a {
        color: #2F84EB;
        text-decoration: none;
    }

    div p.links a:hover {
        color: #2a73cb;
    }

    div a:nth-child(2) {
        margin-left: 10px;
    }

    @keyframes birds-flying {
        0% {
            right: 0;
        }
        100% {
            right: 100%;
        }
    }
}